.app {
  background: rgb(173, 98, 173);
  padding: 30px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.item {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  width: 600px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#add-input {
  width: 100%;
}
p {
  margin: auto;

}
#add-btn {
  width: 130px;
}
.editable {
  border-radius : 5px;
  border: 1px solid palevioletred ;
  padding-right: 20px;
}